<form novalidate class="form-horizontal" id="cvForm" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit" class="btn-default btn-cf-submit">Télécharger</button>
    {{ form_end(form) }}  
    