<form novalidate class="form-horizontal" id="photoForm" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <button type="submit" class="btn-default btn-cf-submit">Ajouter</button>
    {{ form_end(form) }}      