<form novalidate class="form-horizontal"  id="editFormationForm" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}
    <button type="submit" class="btn-default btn-cf-submit">Valider la modification</button>
    {{ form_end(form) }}    
